<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @name.author %>
</p>

<p>
  <strong>Description:</strong>
  <%= @name.description %>
</p>

<p>
  <strong>Edition:</strong>
  <%= @name.edition %>
</p>

<p>
  <strong>Available:</strong>
  <%= @name.available %>
</p>

<p>
  <strong>Active:</strong>
  <%= @name.active %>
</p>

<%= link_to 'Edit', edit_name_path(@name) %> |
<%= link_to 'Back', names_path %>
