<%= form_for(student) do |f| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag('Nome:') %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= label_tag('Telefone:') %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= label_tag('Email:') %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= label_tag('Bloqueado') %>
    <%= f.check_box :blocked %>
  </div>

  <div class="field">
    <%= label_tag('Ativo') %>
    <%= f.check_box :active %>
  </div>

  <div class="actions">
    <%= f.submit "Salvar" %>
  </div>
<% end %>
