<p>
  <strong>Student:</strong>
  <%= @rent.student.name if @rent.student %>
</p>

<p>
  <strong>Book:</strong>
  <%= @rent.book.name if @rent.book %>
</p>

<p>
  <strong>Returned:</strong>
  <%= @rent.returned %>
</p>

<p>
  <strong>Bring back:</strong>
  <%= @rent.bring_back.strftime("%A, %d %b %Y ") %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @rent.obs %>
</p>

<%= link_to 'Edit', edit_rent_path(@rent) %> |
<%= link_to 'Back', rents_path %>
