<p>
  <strong>Aluno:</strong>
  <%= @rent.student.name if @rent.student %>
</p>

<p>
  <strong>Livro:</strong>
  <%= @rent.book.name if @rent.book %>
</p>

<p>
  <strong>Devolvido:</strong>
  <%= @rent.returned %>
</p>

<p>
  <strong>Devolveu:</strong>
  <%= @rent.bring_back.strftime("%A, %d %b %Y ") %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @rent.obs %>
</p>

<%= link_to 'Editar', edit_rent_path(@rent) %> |
<%= link_to 'Voltar', rents_path %>
