<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Disponível:</strong>
  <%= @book.available? %>
</p>

<p>
  <strong>Ativo:</strong>
  <%= @book.active? %>
</p>

<%= link_to 'Editar', edit_book_path(@book) %> |
<%= link_to 'Voltar', books_path %>
